.banner {
  padding-top: 100px;
  background-color: #c4d6e3;
  padding-bottom: 100px;
  color: #fff;

  &__general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    a {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__price {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    &__link {
      font-size: 18px;
      border-bottom: 2px solid black;
    }

    &__btn {
      padding: 10px 26px;
      border-radius: 50px;
      background: #000;
      color: #fff;
      font-size: 18px;
    }
  }
}

@media (max-width: 1090px) {
  .banner__item {
    a {
      font-size: 12px;
    }
  }
}
